<!doctype html>

<html> <!--:url('static/bg/pt3.png')  -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="static/wkmap_uncollector.js"></script>
    <script src="static/d3.v2.min.js"></script>
    <style>
      #map { overflow:hidden; position:absolute; height:100%; width:100%; }
    </style>      
  </head>
<body>
<div id=map>
</div>
<script>

var mapContainer = d3.select("#map").node()

/*  wkmap returns object with 2 functions:
    1) `tile` function that takes [[lon, lat], zoom] and returns its tms tile [Z, X, Y],
    2)  a `render` function that takes a Well-Known Binary ArrayBuffer, a canvas element, a tile
    coordinate object of the form {x: TMS-X-Coord, y: TMS-Y-Coord}, and a Zoom (integer).

    The dom stuff is all d3.js and is partly an exercise in studying that library
*/


var map = wkmap()
  , center = [-122.42, 37.76]
  , zoom0 = 13
  , height = mapContainer.clientHeight
  , width = mapContainer.clientWidth
  , xVisible = Math.ceil(width/512)  // tile count left, right of center
  , yVisible = Math.ceil(height/512)
  , wkbCache = {}

function displayedTiles (ctr) {
  var rv = []
  for (var i = -1*(xVisible); i < xVisible; i++) {
    for (var j = -1*(yVisible); j < yVisible; j++) {
      rv.push({tms:[ctr[0], ctr[1]+i, ctr[2]+j], pos:[i,j]})
    }
  }
  return rv
}

var dragmap = d3.behavior.drag()
    .on("drag", function (d, i) {
      d3.selectAll(".maptile")
        .style("top", function () { 
              return (parseInt(d3.select(this).node().style.top) + 
                      d3.event.dy).toString() + 'px'
        })
        .style("left", function () {
              return (parseInt(d3.select(this).node().style.left) + 
                      d3.event.dx).toString() + 'px'
        })
      })

// will be once per layer
d3.select("#map").selectAll("canvas")
  .data(displayedTiles(map.tile(center, zoom0)))
 .enter()
  .append("canvas")
  .attr("class", "maptile")
  .attr("height", "256px")
  .attr("width", "256px")
  .style("position", "absolute")
  .style("top", function (d) { 
      d.y = (height/2 + d.pos[1]*256)
      return d.y.toString() + 'px' 
    })
  .style("left", function (d) { 
      d.x = (width/2 + d.pos[0]*256)
      return d.x.toString() + 'px' 
    })
  .attr("id", function (d) { xharr(d.tms, d3.select(this).node(), map.render);  return 'tile-'+d.tms.join('-') })
  //.style("background", function (d) { return "rgba(11,11,11,.4)" })
  .call(dragmap)


// this should become something like modestmaps concept of provider
// better version along those lines in master/minimum_viable_servers/couch
function flaskProvider (baseUrl) {
  function mkurl (tile) {
    return baseUrl + tile.join('/')+'.wkb'
  }
  return mkurl
}


function xharr (tile, el, callback) { // tee hee
  var overlay = flaskProvider("/api/osmline/")
  var buf = new XMLHttpRequest
    , url = overlay(tile)
  console.log(url)
  if (url in wkbCache) {
    callback(wkbCache[url], el, {x:tile[1], y:tile[2]}, tile[0])
    return
  }
  buf.open("GET", url, true)
  buf.responseType = 'arraybuffer'
  buf.onload = function (evt) {
    if ('function' === typeof callback && buf.response) {
      wkbCache[url] = buf.response
      callback(buf.response, el, {x:tile[1], y:tile[2]}, tile[0]) 
    } else { 
    }
  }
  buf.send(null)
  return el
}


</script>

